<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学员管理系统 By React.antDesign</title>
    <link rel="stylesheet" type="text/css" href="/static/dist/index.css"/>
    <script src="//as.alipayobjects.com/component/??console-polyfill/0.2.2/index.js,es5-shim/4.1.14/es5-shim.js,es5-shim/4.1.14/es5-sham.js,html5shiv/3.7.2/html5shiv.js"></script>
</head>
<body>
<div id="container"></div>
</body>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="/static/dist/common.js"></script>
<script src="/static/dist/index.js"></script>
</html>
